################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/archive
/Convert Degrees to Decimal/bin/Debug
/Convert Degrees to Decimal/obj/Debug
/Data.csv
/Convert Degrees to Decimal/obj/Release
